body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.productPrice {
  font-weight: 600;
  font-size: 16px;
}
.rating {
  color: #555555;
}
.brandColor {
  color: #888;
}
.rounded-lg {
  border-radius: 10px !important;
}

h1#products_heading\ mt-5 {
  margin-top: 1em;
}
